.featured-title {
  border-bottom: 5px solid brown;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.card-item {
  position: relative;
  cursor: pointer;
}

.card-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.card-item-inner>img {
  width: 100%;
}

.card-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.card-item:hover .card-item-inner {
  opacity: 1;
  transition: 1s;
}

.card-item:hover.card-item::after {
  height: 100%;
}