.logo {
  width: 80px;
}

.dropdown-menubar {
  width: 200px;
  height: calc(100vh - 94px);
  z-index: 11;
  padding-top: 17px;
}
.dropdown-menubar > ul > li > a {
  padding: 5px 20px;
}

.open {
  right: -12px;
  transition: 0.3s;
}
.close {
  right: -500px;
  transition: 0.5s;
  display: none;
}
.d-link:hover {
  background-color: #242b2e63;
}
.link {
  position: relative;
}
.link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #8d0000;
  position: absolute;
  top: 100%;
  left: 0;
}

.link:hover {
  color: #8d0000;
}
.link:hover::after {
  width: 100%;
  transition: 0.5s;
}
